body {
    background: linear-gradient(to bottom right, #fffde7, #fff3e0);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.login-card {
  background: white;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  width: 90%;
  max-width: 400px;
  padding: 32px 24px;
  text-align: center;
}

.login-header {
  background: linear-gradient(to right, #fae849, #f7eea9);
  border-radius: 12px 12px 0 0;
  padding: 16px 0;
  margin: -32px -24px 16px -24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-img {
  height: 40px;
  margin-bottom: 6px;
}

.login-card h1 {
  font-size: 1.4em;
  margin: 0;
  font-weight: 600;
  color: #333;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 24px;
  color: #333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 92%;
  padding: 14px;
  margin-bottom: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1em;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #fff;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
  cursor: pointer;
}

.google-btn:hover {
  background: #f8f8f8;
}

.divider {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  color: #aaa;
}

.divider hr {
  flex: 1;
  height: 1px;
  border: none;
  background-color: #ddd;
}

.divider-text {
  margin: 0 8px;
  font-size: 0.9em;
}

.remember-me {
  display: flex;
  align-items: center;
  font-size: 0.95em;
  margin: 8px 0 16px 0;
}

.remember-me input {
  margin-right: 8px;
}

.login-btn {
  background: #479eff;
  color: white;
  border: none;
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  background: #3a90e6;
}

.error {
  color: #e53935;
  margin-top: 10px;
}

.signup-text {
  margin-top: 18px;
  font-size: 0.95em;
}

.signup-text a {
  color: #3b50f4;
  text-decoration: none;
  font-weight: 500;
}
