<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Login - MindNest</title>
  <link rel="stylesheet" href="/static/login.css" />
</head>
<body>
  <div class="login-card">
    <div class="login-header">

      <h1>🧠 MindNest</h1>
    </div>
    <h2>Login</h2>

    <form method="POST" class="login-form">
      <a href="{{ url_for('google_login') }}" class="google-btn" style="text-decoration: none;">
       <img src="https://img.icons8.com/color/16/000000/google-logo.png" />
        Sign in with Google
      </a>


      <div class="divider">
        <hr /><span class="divider-text">or</span><hr />
      </div>

      <input type="text" name="username" placeholder="User Id" required />
      <input type="password" name="password" placeholder="Password" required />

      <label class="remember-me">
        <input type="checkbox" /> Remember me
      </label>

      <button type="submit" class="login-btn">Log In</button>
      {% if error %}<div class="error">{{ error }}</div>{% endif %}
    </form>

    <p class="signup-text">
      Don't have an account?
      <a href="/signup">Sign up</a>
    </p>
  </div>
</body>
</html>
